{% if section.settings.product != blank %}
  {% assign product = section.settings.product %}
{%- style -%}
{% if section.settings.bg != blank %}
    .section_bg_{{ section.id }} {
      background-image:url({{section.settings.bg | image_url}});
    background-size: cover;
    background-attachment: unset;
    background-repeat: no-repeat;
    background-position: bottom;
    }
  {% endif %}
{% if section.settings.bg_mobile != blank %}
  @media screen and (max-width: 915px) {
    .section_bg_{{ section.id }} {
      background-image:url({{section.settings.bg_mobile | image_url}});
    }
  }
  {% endif %}
  @media screen and (max-width: 915px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
  @media screen and (min-width: 915px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
  {%- capture product_form_id -%}product-form-{{ product.id }}-{{ section.id }}{%- endcapture -%}

<div class="landing_page_product container_1408  section_bg_{{ section.id }} {{ section.settings.custom_class }}"{% if section.settings.custom_id != blank %} id="{{ section.settings.custom_id }}"{% endif %}
style="background-color:{{ section.settings.bg_color | default:'transparent' }};color:{{ section.settings.color }};">
   <div class="container_hk section-{{ section.id }}-padding isolate">
     {% if section.settings.heading != blank %}
       <div class="center product_top_custom_new mobile_only">
       <h2 class="rich-text__heading  inline-richtext product_title_heading h1">{{ section.settings.heading }}</h2>
         {% if section.settings.text != blank %}
           <div class="rich-text__text  product_text">{{ section.settings.text }}</div>
         {% endif %}
 <div class="rich-text__text product_rating_lp">
<div class="reviews_rating_html">
<a href="#reviews">
{% if section.settings.image != blank %}
<img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}" width="auto" height="auto" loading="eager" fetchpriority="high">
{% endif %}
<span>{{ section.settings.text2 }}</span>
</a>
</div>
 </div>
       </div>
       {% endif %}
     <div class="landing_product_flex">
     <div class="landing_product_media">
     <div class="landing_product_media_inner">
        

     <div class="product_slider_images" data_tab="1">
       
     <div class="relative relative_main_slider">
{% if section.settings.tag != blank %}
<div class="custom_tag_lp">{{ section.settings.tag }}</div>
{% endif %}
 <div class="slider_{{ section.id }} product-main-slider">
   {% if section.settings.custom_images == true %}
{% if section.settings.product_image1 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image1 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image2 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image2 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image3 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image3 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image4 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image4 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image5 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image5 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image6 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image6 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image7 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image7 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% if section.settings.product_image8 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image8 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
     {% if section.settings.product_image9 != blank %}
  <div class="product_image_wrapper">
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image9 | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  </div>
  {% endif %}
{% else %}
{% for media in product.media %}
  <img class="product_images" alt="{{ product.title }}" src="{{ media | image_url }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endfor %}
   {% endif %}
</div>


 <div class="slider_navigations center desktop_only">
    <div class="slider_button_custom custom_prev prev_{{ section.id }}_main_slider desktop_only">
    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="19" cy="19" r="18.5" stroke="black" />
<path d="M14.2928 19.7071C13.9023 19.3166 13.9023 18.6834 14.2928 18.2929L20.6568 11.9289C21.0473 11.5384 21.6804 11.5384 22.071 11.9289C22.4615 12.3195 22.4615 12.9526 22.071 13.3431L16.4141 19L22.071 24.6569C22.4615 25.0474 22.4615 25.6805 22.071 26.0711C21.6804 26.4616 21.0473 26.4616 20.6568 26.0711L14.2928 19.7071ZM15 19V20H14.9999V19V18H15V19Z" fill="black" />
</svg>
  
    </div>
       <div class="slider_dots_custom dots_{{ section.id }} mobile_only desktop_only"></div>
  <div class="slider_button_custom custom_next next_{{ section.id }}_main_slider desktop_only">
  <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="19" cy="19" r="18.5" stroke="black"/>
<path d="M24.7072 19.7071C25.0977 19.3166 25.0977 18.6834 24.7072 18.2929L18.3432 11.9289C17.9527 11.5384 17.3196 11.5384 16.929 11.9289C16.5385 12.3195 16.5385 12.9526 16.929 13.3431L22.5859 19L16.929 24.6569C16.5385 25.0474 16.5385 25.6805 16.929 26.0711C17.3196 26.4616 17.9527 26.4616 18.3432 26.0711L24.7072 19.7071ZM24 19V20H24.0001V19V18H24V19Z" fill="black"/>
</svg>
  
  </div>
</div>
  </div>

<div class="relative thumb_slider_relative{% if section.settings.product_image5 == blank %} stop_scroll_thumb{% endif %}">
 <div class="slider_thumb_{{ section.id }} product-thumb-slider">
   
   {% if section.settings.custom_images == true %}
{% if section.settings.product_image1 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image1 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endif %}
{% if section.settings.product_video != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_video.preview_image | image_url:width:200 }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endif %}
{% if section.settings.product_image2 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image2 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endif %}
{% if section.settings.product_image3 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image3 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endif %}
{% if section.settings.product_image4 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image4 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endif %}
{% if section.settings.product_image5 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image5 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high">
  {% endif %}
{% if section.settings.product_image6 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image6 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high">
  {% endif %}
{% if section.settings.product_image7 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image7 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high">
  {% endif %}
{% if section.settings.product_image8 != blank %}
  <img class="product_images" alt="{{ product.title }}" src="{{ section.settings.product_image8 | image_url:width:200 }}"  loading="eager" width="auto" height="auto" fetchpriority="high">
  {% endif %}
{% else %}
{% for media in product.media %}
  <img class="product_images" alt="{{product.title }}" src="{{ media | image_url:width:200 }}" loading="eager" width="auto" height="auto" fetchpriority="high" preload="true">
  {% endfor %}
   {% endif %}
     
</div>

 
     <div class="slider_navigations center desktop_only mobile_only">
  <div class="slider_button_custom absolute_arrow absolute_arrow_prev prev_{{ section.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
  <circle cx="14" cy="14" r="14" fill="white"/>
  <path d="M10.7049 14.495C10.4315 14.2216 10.4315 13.7784 10.7049 13.505L15.1596 9.05025C15.433 8.77689 15.8762 8.77689 16.1496 9.05025C16.423 9.32362 16.423 9.76684 16.1496 10.0402L12.1898 14L16.1496 17.9598C16.423 18.2332 16.423 18.6764 16.1496 18.9497C15.8762 19.2231 15.433 19.2231 15.1596 18.9497L10.7049 14.495ZM11.2 14.7H11.1999V13.3H11.2V14.7Z" fill="black"/>
</svg></div>
  <div class="slider_button_custom absolute_arrow absolute_arrow_next next_{{ section.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
  <circle cx="14" cy="14" r="14" transform="matrix(-1 0 0 1 28 0)" fill="white"/>
  <path d="M17.2949 14.495C17.5682 14.2216 17.5682 13.7784 17.2949 13.505L12.8401 9.05025C12.5667 8.77689 12.1235 8.77689 11.8502 9.05025C11.5768 9.32362 11.5768 9.76684 11.8502 10.0402L15.81 14L11.8502 17.9598C11.5768 18.2332 11.5768 18.6764 11.8502 18.9497C12.1235 19.2231 12.5667 19.2231 12.8401 18.9497L17.2949 14.495ZM16.7998 14.7H16.7999V13.3H16.7998V14.7Z" fill="black"/>
</svg></div>
     </div>
  </div>


  </div>



        

       
  
    <div class="below_media_custom desktop_only">
{%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'faq' -%}
       {% if block.settings.custom_class contains 'mobile_only' %}
       {% if block.settings.question != blank %}
              <div class="rich-text__text  faq_product {{ block.settings.custom_class | replace: 'mobile_only',''}}" {{ block.shopify_attributes }}>
               <div class="question_product">
                 <span class="question_heading">{{ block.settings.question }}</span>
               </div>
               <div class="answer_product" style="display:none;">{{ block.settings.answer }}</div>
              </div>
         {% endif %}
         {% endif %}
      {% endcase %}
      {% endfor %}
     </div>
     </div>
     </div>
     <div class="landing_product_info left">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="rich-text__heading  inline-richtext {{ block.settings.custom_class }} {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</h2> 
            {%- when 'richtext' -%}
              <div  class="rich-text__text  {{ block.settings.custom_class }}" {{ block.shopify_attributes }}>{{ block.settings.text | replace:'<li>','<li><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6998 26.1242C20.7887 26.1242 25.7248 21.1882 25.7248 15.0992C25.7248 9.01028 20.7887 4.07422 14.6998 4.07422C8.61087 4.07422 3.6748 9.01028 3.6748 15.0992C3.6748 21.1882 8.61087 26.1242 14.6998 26.1242ZM14.5503 19.6707L20.6753 12.3207L18.5242 10.5282L13.3807 16.7004L10.7897 14.1095L8.80981 16.0894L12.4848 19.7644L13.5688 20.8484L14.5503 19.6707Z" fill="#0066D3"/>
</svg>' }}</div>
            
            {%- when 'text' -%}
              <div  class="rich-text__text  {{ block.settings.custom_class }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            
            {%- when 'html' -%}
              <div class="rich-text__text  {{ block.settings.custom_class }}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'stock' -%}
            
            <div class="rich-text__text {{ block.settings.custom_class }}">
{% assign date = "now" | date: '%s' %}
{% assign first_date = 3 | times: 24 | times: 60 | times: 60 %}
                   <div class="in_stock_text">
                    <span class="stock_outer"><span class="stock_inner"></span></span>
                    <p>{{ block.settings.text }}<span>{{ date | date: "%s" | plus: first_date | date: "%B %dth" }}</span></p>
                    </div> 
              </div>
            
            
            
        {%- when 'rating_custom' -%}
 <div class="rich-text__text product_rating_lp {{ block.settings.custom_class }}">
<div class="reviews_rating_html">
<a href="#reviews">
{% if block.settings.image != blank %}
<img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" width="auto" height="auto" loading="lazy">
{% endif %}
            {{ block.settings.star }}
<span>{{ block.settings.text }}</span>
</a>
</div>
 </div>
            {%- when 'faq' -%}
       {% if block.settings.question != blank %}
              <div class="rich-text__text  faq_product {{ block.settings.custom_class }}" {{ block.shopify_attributes }}>
               <div class="question_product">
                 <span class="question_heading">{{ block.settings.question }}</span>
               </div>
               <div class="answer_product" style="display:none;">{{ block.settings.answer }}</div>
              </div>
         {% endif %}
            {%- when 'image' -%}
            {% if block.settings.image != blank %}
              <div  class="rich-text__text  {{ block.settings.custom_class }}" {{ block.shopify_attributes }} >
  <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" width="auto" height="auto" loading="lazy" {% if block.settings.image_mobile != blank %} class="desktop_only"{% endif %}>
            {% if block.settings.image_mobile != blank %}
  <img src="{{ block.settings.image_mobile | image_url }}" alt="{{ block.settings.image_mobile.alt }}" width="auto" height="auto" loading="lazy" class="mobile_only">
              {% endif %}
              </div>
              {% endif %}
            {%- when 'button' -%}
              <div class="rich-text__buttons {{ block.settings.custom_class }}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label != blank -%}
                  <a href="{{ block.settings.button_link | default:'#'}}" class="custom_hk_button" >{{- block.settings.button_label  -}} </a>
                {%- endif -%}
              </div> 
    {% when 'checkout_button' %}

            {% assign atc_text = block.settings.text %}
  {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'quantity' -%}
            {% assign quantity = block.settings.quantity2 %}
            {% endcase %}
    {% endfor %}
<select name="variants_id" style="display:none;">
{% for variant in product.variants %}
<option value="{{ variant.id }}"{% if product.selected_or_first_available_variant.id == variant.id %} selected{% endif %}>{{ variant.title }}</option>
{% endfor %}
</select>
   


            {% when 'icon_with_text' %}
              <div  class="custom_icon_with_text_landing_page {{ block.settings.custom_class }}">
                <div class="icon_with_text_flex">
                <div class="icon_with_text_item">
                  {{ block.settings.svg1 }}
                  {% if block.settings.image1 != blank %}
                  <img src="{{ block.settings.image1 | image_url }}" width="auto" height="auto" fetchpriority="{{ block.settings.fetchpriority }}" loading="{{ block.settings.loading }}" alt="{{ block.settings.image1.alt }}">  
                  {% endif %}
                  <span>{{ block.settings.text1 }}</span>
                 </div>
                 </div>
              </div>

            
    {% when 'variants' %}
          <div class="custom_variants_landing_page">
 {%- render 'variant-picker',
                  product: product,
                  form_id: product_form_id,
                  update_url: true,
                  hide_sold_out_variants: false,
                  selector_type: block,
                  color_selector_type: 'color',
                  size_chart_page: block.settings.size_chart_page -%}   
          </div>
            
            
   
            {% when 'icons_with_text' %}
              <div  class="custom_icons_with_text_landing_page {{ block.settings.custom_class }}">
                <div class="icons_with_text_flex">
                <div class="icons_with_text_item">
                  {{ block.settings.svg1 }}
                  {% if block.settings.image1 != blank %}
                  <img src="{{ block.settings.image1 | image_url }}" width="auto" height="auto" loading="lazy" alt="{{ block.settings.image1.alt }}">  
                  {% endif %}
                  {{ block.settings.text1 }}
                 </div>
                <div class="icons_with_text_item">
                  {{ block.settings.svg2 }}
                  {% if block.settings.image2 != blank %}
                  <img src="{{ block.settings.image2 | image_url }}" width="auto" height="auto" loading="lazy" alt="{{ block.settings.image2.alt }}">  
                  {% endif %}
                  {{ block.settings.text2 }}
                 </div>
                <div class="icons_with_text_item">
                  {{ block.settings.svg3 }}
                  {% if block.settings.image3 != blank %}
                  <img src="{{ block.settings.image3 | image_url }}" width="auto" height="auto" loading="lazy" alt="{{ block.settings.image3.alt }}">  
                  {% endif %}
                  {{ block.settings.text3 }}
                 </div>
                 </div>
              </div>


             {%- when '@app' -%}
                {%- render block -%}


{% when 'order_time' %}
            <div class="order_time_html {{ block.settings.custom_class }}">
<div class="order_time_flex">
<div class="order_time_item">
{{ block.settings.svg1 }}
<p>{{ block.settings.text1 }}</p>
</div>
<div class="order_time_item">
{{ block.settings.svg2 }}
</div>
<div class="order_time_item">
{{ block.settings.svg3 }}
<p>{{ block.settings.text2 }}</p>
</div>
</div>
</div>



 
            {% endcase %}
       {% endfor %}
     </div>
   </div>
   </div>
  </div>

{% endif %}




    



    
  
{% schema %}
  {
    "name": "Product LP",
    "settings": [
     {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
      {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    },
      {
      "type": "image_picker",
      "id": "bg",
      "label": "Section Background"
    },
      {
      "type": "image_picker",
      "id": "bg_mobile",
      "label": "Section Background"
    },
     {
      "type": "color",
      "id": "bg_color",
      "label": "Section Background Color"
    },
     {
      "type": "color",
      "id": "color",
      "label": "Section Text Color"
    },
     {
      "type": "inline_richtext",
      "id": "bought",
      "label": "Recent Bought Today",
      "default":"<strong>100+</strong> Bought Today"
     },
      {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section Heading"
    },
      {
      "type": "inline_richtext",
      "id": "text",
      "label": "Section Text"
    },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
           {
          "type": "inline_richtext",
          "id": "text2",
          "label": "Text2",
        },
     {
      "type": "checkbox",
      "id": "custom_images",
      "label": "Show Custom Images",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "variant1_image",
      "label":  "Variant1 Image"
    },
    {
      "type": "image_picker",
      "id": "variant2_image",
      "label":  "Variant2 Image"
    },
    {
      "type": "image_picker",
      "id": "product_image1",
      "label":  "Product Image1"
    },
    {
      "type": "image_picker",
      "id": "product_image2",
      "label":  "Product Image2"
    },
    {
      "type": "image_picker",
      "id": "product_image3",
      "label":  "Product Image3"
    },
    {
      "type": "image_picker",
      "id": "product_image4",
      "label":  "Product Image4"
    },
    {
      "type": "image_picker",
      "id": "product_image5",
      "label":  "Product Image5"
    },
    {
      "type": "image_picker",
      "id": "product_image6",
      "label":  "Product Image6"
    },
    {
      "type": "image_picker",
      "id": "product_image7",
      "label":  "Product Image7"
    },
    {
      "type": "image_picker",
      "id": "product_image8",
      "label":  "Product Image8"
    },
    {
      "type": "image_picker",
      "id": "product_image9",
      "label":  "Product Image9"
    },
    {
      "type": "image_picker",
      "id": "popup_image",
      "label":  "Popup Image"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 50
    }
    ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            }
          ],
          "default": "h1",
          "label": "Heading Size"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.",
          "label": "Text"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "richtext",
      "name": "RichText",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Text"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "html",
      "name": "Html",
      "settings": [
        {
          "type": "liquid",
          "id": "text",
          "label": "Html"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "button_label",
          "default": "Button label",
          "label": "First button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "First button link"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "stock",
      "name": "Stock",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "rating_custom",
      "name": "Rating Custom",
      "settings": [
       {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
        },
         {
          "type": "liquid",
          "id": "star",
          "label": "Stars",
        },
          {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "checkout_button",
      "name": "Checkout Button",
      "limit":1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default":"ORDER NOW"
        }
      ]
    },
    {
      "type": "variants",
      "name": "Variants",
      "settings": [
        {
          "type": "number",
          "id": "loop",
          "default": 1,
          "label": "Variant Option"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Custom Image1"
        },
        {
          "type": "inline_richtext",
          "id": "title1",
          "label": "Custom Title1"
        },
        {
          "type": "inline_richtext",
          "id": "badge1",
          "label": "Custom Badge1"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Custom Image2"
        },
        {
          "type": "inline_richtext",
          "id": "title2",
          "label": "Custom Title2"
        },
        {
          "type": "inline_richtext",
          "id": "badge2",
          "label": "Custom Badge2"
        },
        {
          "type": "image_picker",
          "id": "image3",
          "label": "Custom Image3"
        },
        {
          "type": "inline_richtext",
          "id": "title3",
          "label": "Custom Title3"
        },
        {
          "type": "inline_richtext",
          "id": "badge3",
          "label": "Custom Badge3"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit":1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text1",
          "default": "Save",
          "label": "Text Before Save Price"
        }
      ]
    },
    {
      "type": "icons_with_text",
      "name": "Icons With Text",
      "settings": [
        {
          "type": "liquid",
          "id": "svg1",
          "label": "Svg1",
        },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1",
        },
         {
          "type": "inline_richtext",
          "id": "text1",
          "label": "Text1",
        },
         {
          "type": "liquid",
          "id": "svg2",
          "label": "Svg2",
        },
         {
          "type": "image_picker",
          "id": "image2",
          "label": "Image2",
        },
         {
          "type": "inline_richtext",
          "id": "text2",
          "label": "Text2",
        },
         {
          "type": "liquid",
          "id": "svg3",
          "label": "Svg3",
        },
         {
          "type": "image_picker",
          "id": "image3",
          "label": "Image3",
        },
         {
          "type": "inline_richtext",
          "id": "text3",
          "label": "Text3",
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
         {
          "type": "inline_richtext",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "Icon With Text",
      "settings": [
        {
          "type": "liquid",
          "id": "svg1",
          "label": "Svg1",
        },
         {
          "type": "image_picker",
          "id": "image1",
          "label": "Image1",
        },
         {
          "type": "inline_richtext",
          "id": "text1",
          "label": "Text1",
        },
        {
          "type": "select",
          "id": "loading",
          "options": [
            {
              "value": "lazy",
              "label": "Lazy"
            },
            {
              "value": "eager",
              "label": "Eager"
            }
          ],
          "default": "lazy",
          "label": "Image Loading"
        },
        {
          "type": "select",
          "id": "fetchpriority",
          "options": [
            {
              "value": "low",
              "label": "Low"
            },
            {
              "value": "high",
              "label": "High"
            }
          ],
          "default": "low",
          "label": "Image Fetchpriority"
        },
         {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
    {
      "type": "order_time",
      "name": "Order Time",
      "settings": [
        {
          "type": "liquid",
          "id": "svg1",
          "label": "Svg1",
        },
         {
          "type": "inline_richtext",
          "id": "text1",
          "label": "Text1",
        },
         {
          "type": "liquid",
          "id": "svg2",
          "label": "Svg2",
        },
         {
          "type": "liquid",
          "id": "svg3",
          "label": "Svg3",
        },
         {
          "type": "inline_richtext",
          "id": "text2",
          "label": "Text2",
        },
        {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
      ]
    },
     {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Product LP"
    }
  ]
  }
{% endschema %}

<script>
    $('.slider_{{ section.id }}').slick({
  dots: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: false,
  infinite: true,
  cssEase:'linear',
    asNavFor: '.slider_thumb_{{ section.id }}',
    prevArrow: $('.prev_{{ section.id }}_main_slider'),
    nextArrow: $('.next_{{ section.id }}_main_slider'),
    appendDots: $('.dots_{{ section.id }}'),
      responsive: [{
      breakpoint: 915,
      settings: {
        slidesToShow:1, 
        slidesToScroll: 1, 
adaptiveHeight: false,
  dots: true,
      }
    }
  ]
 
});
  
    $('.slider_thumb_{{ section.id }}').slick({
  dots: false,
  speed: 300,
  slidesToShow: 6,
  slidesToScroll: 1,
  autoplay: false,
  infinite: true,
  cssEase:'linear',
    asNavFor: '.slider_{{ section.id }}',
    focusOnSelect: true,
    prevArrow: $('.prev_{{ section.id }}'),
    nextArrow: $('.next_{{ section.id }}'),
  responsive: [
    {
      breakpoint: 915,
      settings: {
        speed: 300,
        slidesToShow:5,
      }
    }
  ]
});

    $('.slider_{{ section.id }}2').slick({
  dots: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: false,
  infinite: true,
  cssEase:'linear',
    asNavFor: '.slider_thumb_{{ section.id }}2',
    prevArrow: $('.prev_{{ section.id }}2_main_slider'),
    nextArrow: $('.next_{{ section.id }}2_main_slider'),
    appendDots: $('.dots_{{ section.id }}2'),
      responsive: [{
      breakpoint: 915,
      settings: {
        slidesToShow:1, 
        slidesToScroll: 1, 
adaptiveHeight: false,
  dots: true,
      }
    }
  ]
 
});
  
    $('.slider_thumb_{{ section.id }}2').slick({
  dots: false,
  speed: 300,
  slidesToShow: 6,
  slidesToScroll: 1,
  autoplay: false,
  infinite: true,
  cssEase:'linear',
    asNavFor: '.slider_{{ section.id }}2',
    focusOnSelect: true,
    prevArrow: $('.prev_{{ section.id }}2'),
    nextArrow: $('.next_{{ section.id }}2'),
  responsive: [
    {
      breakpoint: 915,
      settings: {
        speed: 300,
        slidesToShow:5,
      }
    }
  ]
});
$(document).on("click", '.trigger_{{ section.id }}', function(e) {
  e.preventDefault();
  var $btn = $(this).addClass('loading_hk'),
      id = $btn.attr('variant_id'),
      quantity = $btn.attr('quantity'),
      selling_plan = $btn.attr('selling_plan'),
      data = { id: id, quantity: quantity };

  if (selling_plan) data.selling_plan = selling_plan;

  $.post('/cart/add.js', data, function () {
    $.get(window.location.pathname, function (res) {
      var $new = $(res).find('#cart_drawer_content');
      $('#cart_drawer_content').replaceWith($new);
      $('#cart-drawer').removeClass('is_empty').addClass('open');
      $('.custom_overlay2').addClass('active');
      $btn.removeClass('loading_hk');
    });
  }, 'json');
});

$(document).on("click", '.option_item', function(e) { 
$(this).parents('.landing_page_product').find('.option_item').removeClass('active');  
$(this).addClass('active');  

var selected_variant_text = $('.option_item.active').eq(0).attr('variant_title');
$('select[name="variants_id"] option').each(function(){
var option_text = $(this).text();
var option_value = $(this).attr('value');
if(option_text.indexOf(selected_variant_text) != -1){
$('select[name="variants_id"]').val(option_value).trigger('change'); 
return false;
}
});
var selected_variant = $('select[name="variants_id"]').val();
$('span.custom_checkout_button').attr('variant_id',selected_variant);
$('.product_text_2 strong').text(selected_variant_text); 

var image_src= $('this').attr('variant_img');
image_index = 0;
//$('.product-main-slider').slick('slickGoTo', image_index);
//$('.product-main-slider [data-slick-index="0"] img').attr('src',image_src);
//$('.product-thumb-slider [data-slick-index="0"] img').attr('src',image_src);


// var data_tab= parseInt($('.option_item.active').index())+1;
// $('.product_slider_images').hide();
// $('.product_slider_images[data_tab="'+data_tab+'"]').show();
// $('.product_slider_images[data_tab="'+data_tab+'"] .slick-slider').slick('refresh');
});

$(document).on("click", '.quantity_item', function(e) {  
$('.quantity_item').removeClass('active');
$(this).addClass('active');  
var quantity = $(this).attr('quantity');
var data_tab = $(this).attr('data_tab');
$('.trigger_{{ section.id }}').attr('quantity',quantity);
$('.price_trigger').hide().removeClass('active');
$('.price_trigger[data_tab="'+data_tab+'"]').show();
var selected_text = $(this).attr('label');
$('.product_text_3 strong').text(selected_text);
});
    
$(document).on("click", '.subscription_item', function(e) {
$('.subscription_item').removeClass('active');  
$(this).addClass('active');  
var selected_tab = $(this).attr('data_tab');
if (selected_tab == '2'){
var selling_plan = $(this).attr('selling_plan');
$('.trigger_{{ section.id }}').attr('selling_plan',selling_plan);
} else {
$('.trigger_{{ section.id }}').removeAttr('selling_plan');
}
$('.subscription_trigger').hide();
$('.subscription_trigger[data_tab="'+selected_tab+'"]').show();
});
  
$(document).on("click", '.sub_flex_bottom_delivery_item', function(e) {
$('.sub_flex_bottom_delivery_item').removeClass('active');  
$(this).addClass('active');  
var selected_text = $(this).text();
var selling_plan = $(this).attr('selling_plan');
$('.landing_page_product .sub_flex_bottom_delivery_label span').text(selected_text);
$('.trigger_{{ section.id }}').attr('selling_plan',selling_plan);
$('.subscription_item_sub').attr('selling_plan',selling_plan);
});
</script>



